<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PeerJS Video Chat</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="/style.css" />
    <script type="module" defer src="/index.js"></script>
</head>

<body class="flex-col gap-1">
    <nav>
        <a href="/">Zap</a>
    </nav>

    {{!-- SSO information --}}
    {{#if user}}
    <div>
        Logged in as {{user.name}} ({{user.email}})
        <a href="{{logoutUrl}}">Log out</a>
    </div>
    {{else}}
    <div>
        <button role="link" id="login-button" data-login-url="{{loginUrl}}">
            Log in
        </button>
    </div>
    {{/if}}

    {{!-- Creating a room --}}
    <div>
        <form id="room-form">
            <label for="room-name">Room:</label>
            <input id="room-name" placeholder="Enter room name" required />
            <button type="submit" id="create-room">Create Room</button>
        </form>
    </div>
</body>

</html>
