<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PeerJS Video Chat</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="/style.css" />
    <script type="module" defer src="/room/index.js"></script>
</head>

<body class="flex-col gap-1">
    <nav>
        <a href="/">Zap</a>
    </nav>

    {{!-- SSO information --}}
    {{#if user}}
    <div>
        Logged in as {{user.name}} ({{user.email}})
        <a href="{{logoutUrl}}">Log out</a>
    </div>
    {{else}}
    <div>
        <button role="link" id="login-button" data-login-url="{{loginUrl}}">
            Log in
        </button>
    </div>
    {{/if}}

    {{!-- Room info --}}
    <div>
        <p>Room: <span id="room-name">Loading</span></p>
        <p>Room URL: <span id="room-url">Loading</span></p>
        <button id="copy-url">Copy URL</button>
    </div>

    <div>
        {{#unless user}}
        <form>
            <label for="user-name">Name:</label>
            <input id="user-name" required placeholder="Name" />
        </form>
        {{/unless}}
        <button class="hidden" id="connect" disabled>Connect to call</button>
    </div>

    <div id="video" class="hidden">
        <div id="remote-videos"></div>
        <video id="local-video" autoplay muted></video>
        <button id="start-record">Start Recording</button>
        <button id="stop-record" disabled>Stop Recording</button>
        <button id="save-record" disabled>Save Recording</button>
        <button id="delete-record" disabled>Delete Recording</button>
        <button id="upload-record" disabled>Save to Server</button>
        <a class="button disabled" id="download-record" download="recording.webm">
            Download Recording
        </a>
    </div>
</body>

</html>
